@model Final_Project.Models.GroupDto
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Group</h2>

<div>
    <p>Are you Sure you want to delete @Model.GroupName Group? </p>
    <form action="/Groups/DeleteConfirm/@Model.Id" method="post">
        <input type="submit" name="name" class="btn btn-danger" value="Yes" />
    </form>
    <a href="/Groups/Details/@Model.Id" class="btn bg-danger">  No </a>
</div>
