@model IEnumerable<Final_Project.Models.GroupDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Groups</h2>
<nav>
    @Html.ActionLink("Add Group", "Create", "Group", new { area = "" }, new { @class = "btn btn-primary" })
</nav>

@foreach (var group in Model)
{
    <h2> <a href="/Groups/Details/@group.Id">@group.GroupName</a> </h2>
}